<style>
  #addTeam{
    width:15% ;
    margin-bottom: 2%;

  }
</style>
<div class="container">
  <div class="container d-flex flex-column">
    <h1 class="align-self-center" >Equipos de la Premier League</h1>

<h3> Total equipos: {{data.teamsQuantity}} </h3>
<button id="addTeam"class="btn btn-success" onclick="window.location.href='http://localhost:8080/teams/addteam'">Agregar
  Equipo</button>

  </div>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre Equipo</th>
      <th scope="col">País</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    {{#each data.teams as |team|}}
    <tr>
      <th scope="row" id={{team.id}}>{{team.id}}</th>
      <td> <img src="{{team.crestUrl}}" alt="{{team.name}} logo">
        ///
        {{team.name}}

      </td>
      <td>{{team.area.name}}</td>
      <td> <button onclick=window.location.href='http://localhost:8080/teams/{{team.id}}'
          class="btn btn-warning">Ver</button>
        <button onclick=window.location.href='http://localhost:8080/teams/update/{{team.id}}' class="btn btn-warning">Editar</button>
       
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{team.id}}">
          Eliminar
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{team.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">Eliminar equipo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="text-dark"> ¿Seguro quieres Eliminar este equipo?
                  CON ID {{team.id}}
                  Esta acción no puede revertirse.</p>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <button onclick=window.location.href='http://localhost:8080/teams/delete/{{team.id}}' type="button"
                  class="btn btn-danger">Eliminar</button>


              </div>

            </div>
          </div>
        </div>

      </td>
    </tr>

    {{/each}}


  </tbody>
</table>
</div>